---
import { getCollection } from "astro:content";
import { getCurrentPath, getSectionPaths } from "../../../../utils/staticPath";
import BaseLayout from "../../../../layouts/baseLayout.astro";
import Folder from "../../../../components/pages/folder.astro";
import ExplorerDesktop from "../../../../components/pages/explorerDesktop.astro";
import ExplorerMobile from "../../../../components/pages/explorerMobile.astro";
export async function getStaticPaths() {
  return await getSectionPaths();
}
const { section } = Astro.params;
const folders = await getCollection("demos", ({ slug }) =>
  slug.includes(section as string)
);
const folderNames = new Set<string>();
folders.forEach(({ slug }) => folderNames.add(slug.split("/")[2]));
const { pathArray } = getCurrentPath(Astro.url);
const path = pathArray.at(-1);
---

<BaseLayout>
  <section
    class="flex w-full flex-grow flex-col items-center self-center justify-self-center md:justify-center"
  >
    <ExplorerDesktop>
      {
        Array.from(folderNames).map((folder) => (
          <Folder path={`./${path}/${folder}`} folderName={folder} />
        ))
      }
    </ExplorerDesktop>
    <ExplorerMobile>
      {
        Array.from(folderNames).map((folder) => (
          <Folder path={`./${path}/${folder}`} folderName={folder} />
        ))
      }
    </ExplorerMobile>
  </section>
</BaseLayout>
