---
import { Image } from "astro:assets";
import arrow from "../../assets/pages/arrow.png";
import { getCurrentPath, getSectionNames } from "../../utils/staticPath";
interface Props {
  class?: string;
}
const { class: added } = Astro.props;
const sections = await getSectionNames();
const { lang } = getCurrentPath(Astro.url);
---

<div class={`flex w-4/5 flex-col lg:w-full ${added}`}>
  <div
    class="flex w-full gap-0 overflow-auto *:w-28 *:flex-shrink-0 *:bg-transparent *:bg-label *:bg-contain *:bg-center *:bg-no-repeat *:p-3 *:px-4 *:font-pixel *:text-xs *:text-slate-200"
  >
    {
      Array.from(sections).map((name) => (
        <button slot="Buttons">
          <a href={`/${lang}/examples/${name}`} class="text-slate-200">
            {name}
          </a>
        </button>
      ))
    }
  </div>
  <div
    class="flex-grow rounded-bl-lg border-y-2 border-l-2 border-[#734316] bg-[#39363E] bg-pattern"
  >
    <div class="flex items-center gap-6 pl-8 pt-4 text-sm text-slate-200">
      <Image src={arrow} alt="go back" class={"rotate-180 w-8 h-8"} />
      <div class="w-1/2 rounded-lg bg-slate-800 p-2">
        <p class="pl-4">Examples/Aurora</p>
      </div>
    </div>
    <div
      class="grid h-[calc(60dvh-1.5rem)] auto-rows-min grid-cols-5 gap-4 overflow-y-auto py-6"
    >
      <slot />
    </div>
  </div>
</div>
