---
import { getCurrentPath, getSectionNames } from "../../utils/staticPath";
import { Image } from "astro:assets";
import arrow from "../../assets/pages/arrow.png";
import { nameToUpper } from "../../utils/nameToUpper";
const { pathArray, lang } = getCurrentPath(Astro.url);
const sections = await getSectionNames();

const browsePath = pathArray.slice(1).join("/");
---

<div class="w-full md:hidden">
  <div class="flex items-center justify-center gap-4 pb-4 pt-8">
    <label
      for="sectionPicker"
      class="relative flex items-center text-slate-200"
    >
      <select
        id="sectionPicker"
        class="w-full cursor-pointer appearance-none text-ellipsis bg-transparent p-1 pr-8 text-center font-pixel text-2xl text-inherit"
      >
        {
          Array.from(sections).map((value) => (
            <option
              value={`/${lang}/examples/${value}`}
              class="cursor-pointer bg-[#262c49] text-sm"
              selected={pathArray.includes(value)}
            >
              {nameToUpper(value)}
            </option>
          ))
        }
      </select>
      <Image
        src={arrow}
        alt="go back"
        class="pointer-events-none absolute right-0 h-7 w-7 rotate-90 self-center"
      />
    </label>
  </div>
  <div
    class="flex items-center justify-center bg-[#734316] bg-opacity-20 p-2 text-sm text-slate-200 shadow-xl"
  >
    <div
      class="m-auto w-11/12 rounded-lg bg-[#39363E] p-2 text-slate-200 lg:w-1/2"
    >
      <p class="overflow-hidden text-ellipsis whitespace-nowrap px-2">
        {"/" + browsePath}
      </p>
    </div>
  </div>
  <div
    class=`${pathArray.length < 4 && "grid"} h-[55dvh] auto-rows-min grid-cols-3 gap-2 overflow-y-auto rounded-bl-xl border-2 border-r-0 border-t-0 border-[#734316] border-opacity-40 bg-pattern py-6 backdrop-blur-sm`
  >
    <slot />
  </div>
</div>
<script>
  import { navigate } from "astro:transitions/client";
  const select = document.getElementById("sectionPicker");
  if (select) {
    select.onchange = (ev) => navigate((ev.target as HTMLSelectElement).value);
  }
</script>
