---
interface Props {
  percent: number;
}
const { percent } = Astro.props;
const red = [255, 75, 57];
const green = [89, 241, 89];
const color = red.map((channel, index) => {
  return Math.round(channel + (green[index] - channel) * (percent / 100));
});
const colorString = `rgb(${color[0]}, ${color[1]}, ${color[2]})`;
---

<div class="w-40 bg-rose-200 rounded-full dark:bg-gray-700">
  <div
    class="text-xs font-medium dark:text-violet-100 text-gray-600 text-center p-0.5 leading-none rounded-full"
    style=`width: ${percent}%; background-color: ${colorString}`
  >
    {percent}%
  </div>
</div>
