---
import Button from "../components/pages/button.astro";
import LangSelect from "../components/pages/langSelect.astro";
import Logo from "../components/pages/logo.astro";
import Image from "astro/components/Image.astro";
import logoDead from "../assets/logos/logo-dead.png";
import News from "../components/pages/news.astro";
import Progress from "../components/pages/progress.astro";
import "../styles/pagesStyle.css";
import { ViewTransitions } from "astro:transitions";
import { getCurrentPath } from "../utils/staticPath";
import linked from "../assets/pages/linked.svg";
import astro from "../assets/pages/astro.svg";
import Firefly from "../components/pages/firefly.astro";

const { lang, path } = getCurrentPath(Astro.url);
/**
 * przeleciec kod i poczyścić
 *
 */
---

<html lang={lang}>
  <head>
    <title>Misa - Game Engine</title>
    <meta name="title" content="Misa - Game Engine" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="game engine for dummies." />
    <meta
      name="keywords"
      content="game, game engine, make game, js game, ts game"
    />
    <meta name="author" content="Milfinity" />
    <link rel="icon" href="./icon.png" />
    <ViewTransitions />
  </head>
  <body class="overflow-x-hidden bg-[#151827]">
    <Firefly />
    <div
      class="-z-10 m-auto flex min-h-screen max-w-screen-2xl flex-col bg-background bg-cover bg-fixed bg-bottom bg-no-repeat"
    >
      <header class="relative flex justify-between">
        <div
          class="absolute left-0 top-0 hidden h-4/5 w-full bg-nav-back bg-cover bg-center bg-no-repeat opacity-30 lg:inline-block"
        >
        </div>
        <Logo />
        <button
          id="hamb"
          class="z-30 mr-6 mt-4 h-12 w-12 bg-transparent bg-hamburger-open bg-contain bg-center bg-no-repeat lg:hidden"
        ></button>

        <div
          id="navi"
          class="fixed left-1/2 top-0 z-20 hidden h-dvh w-full -translate-x-1/2 flex-col items-center justify-center gap-16 backdrop-blur backdrop-brightness-50 lg:static lg:flex lg:h-full lg:translate-x-0 lg:flex-row lg:justify-end lg:gap-8 lg:backdrop-filter-none"
        >
          <nav class="flex flex-col gap-2 self-center lg:flex-row">
            <Button
              link=`/${lang}/intro/intro/`
              name="Docs"
              class="w-48 lg:w-36"
            />
            <Button
              link=`/${lang}/examples/aurora`
              name="Examples"
              class=`w-48 lg:w-36 ${path.includes("examples") && "hue-rotate-30"}`
            />
            <!-- <Button link="" name="Us" class="w-48 lg:w-36" /> -->
          </nav>
          <Image
            src={logoDead}
            alt="logo"
            class={"w-28 h-28 z-20 absolute lg:hidden left-1/2 top-4 -translate-x-1/2"}
          />
          <News mobile />
          <Progress mobile lang={lang} />
          <LangSelect class="left-6 top-6" />
        </div>
      </header>
      <slot id="slot" />
      <footer
        class="z-10 flex flex-col items-center gap-2 bg-black py-1 text-sm text-slate-200 sm:flex-row sm:items-end sm:justify-end sm:text-xs"
      >
        <div class="text-center sm:text-right">
          <p class="sm:pr-10">{lang == "pl" ? "kontakt:" : "contact:"}</p>
          <a href="https://www.linkedin.com/in/pawe%C5%82-grela-762165234/">
            <Image src={linked} alt="linkedIn link" class="sm:h-4 sm:w-20" />
          </a>
        </div>
        <div class="text-center sm:text-right">
          <p class="sm:pr-5">Page&Docs:</p>
          <Image src={astro} alt="linkedIn link" class="sm:h-4 sm:w-16" />
        </div>
      </footer>
    </div>
    <script>
      document.addEventListener("astro:page-load", () => {
        const button = document.getElementById("hamb");
        const navi = document.getElementById("navi");
        const logo = document.getElementById("logo");
        const slot = document.getElementsByTagName("body")[0];

        button?.addEventListener("click", () => {
          slot.classList.toggle("overflow-hidden");
          logo?.classList.toggle("invisible");
          if (navi?.classList.contains("hidden")) {
            navi.classList.replace("hidden", "flex");
            button.classList.replace("bg-hamburger-open", "bg-hamburger-close");
          } else {
            navi?.classList.replace("flex", "hidden");
            button.classList.replace("bg-hamburger-close", "bg-hamburger-open");
          }
        });
      });
    </script>
  </body>
</html>
